@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-image: url(./imagens/noite.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    /* para ficar o rodape fixo*/
    flex-shrink: 0;
    /* para ficar o container fixo*/

}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    margin-top: auto;
}

.container {
    width: 800px;
    background-color: rgb(255 255 255 / 60%);
    border-radius: 15px;
    border: 2px solid #344281;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;

}


.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-control input {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #344281;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    width: 90%;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #344281;
    outline: none;
    box-shadow: 0 1px 4px rgba(52, 66, 129, 0.07);
    margin-top: 3px;
}

.form-control input:focus {
    border-color: #96475b;
    box-shadow: 0 0 6px 2px rgba(150, 71, 91, 0.2);
    background-color: #fff;
}

.botao {
    display: block;
    margin: 7px auto;
    justify-content: center;
    background: transparent;
    color: #344281;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 17px;
    cursor: pointer;
    font-weight: 600;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #344281;
    transition: all 0.3s ease;


}

.rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #96475b;
}